@model string;

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <a asp-area="" asp-controller="Book" asp-action="Index" class="btn btn-sm btn-outline-secondary">
            <span data-feather="arrow-left"></span>
        </a> <span style="width:10px"></span>
        <h1 class="h4">@Model</h1>
        <div class="btn-group mr-2">

        </div>
    </div>
</div>