
@{
    ViewData["Title"] = "BookTopBar";
}
<div class="test d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Books</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a asp-area="" asp-controller="Book" asp-action="Create" class="btn btn-sm btn-outline-secondary">
                <span data-feather="plus"></span>
            </a>
            <button class="btn btn-sm btn-outline-secondary">
                <span data-feather="refresh-cw"></span>
            </button>
            <a asp-controller="Book" asp-action="Index" class="btn btn-sm btn-outline-secondary">
                <span data-feather="list"></span>
            </a>
            <a asp-controller="Book" asp-action="Grid" class="btn btn-sm btn-outline-secondary">
                <span data-feather="grid"></span>
            </a>
        </div>
    </div>
</div>